input[type=submit] {
  /* TODO: change background to orange */
  /* TODO: change font color to white */
  background-color: orange;
  color: white;
  padding: 8px;
  width:fit-content;
}
*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  background-color: antiquewhite;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 16px;
}
form input{
  max-width: 300px;
}
input[type=email],[type=text],[type=password] {
  padding: 8px 16px;
  border-radius: 8px;
}